.intro {     
        padding-top: 347px;
        padding-bottom: 325px;
        position: relative;
        background-color: #000000;

        @media (max-width: 768px) {
                padding-top: 200px;
                padding-bottom: 120px;
            }

        .container {
                position: relative;
        }

        &__title {      
                font-size: 60px;
                font-family: $font-family-primary;
                font-weight: 700;
                color: rgb(255, 255, 255);
                line-height: 1.083;
                margin: 0 0 50px 0;

                transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
                opacity: 0; 
                transform: translateY(200px);  

                &.anim-active {        
                        opacity: 1;   
                        transform: none;        
                }
        }

        &__description {      
                font-size: 16px;
                font-family: $font-family-primary;
                color: rgb(255, 255, 255);
                line-height: 1.75;  
                margin: 0 0 40px 0;   
                
                transition: transform 0.8s ease 0.4s, opacity 0.8s ease 0.4s;
                opacity: 0; 
                transform: translateY(200px);  

                &.anim-active {        
                        opacity: 1;   
                        transform: none;        
                }
        }

        &__btn {
                text-decoration: none;

                transition: opacity 0.8s ease 0.8s;
                opacity: 0;                

                &.anim-active {        
                        opacity: 1;                            
                }
        }
}