.projects {
    padding-top: 100px;
    padding-bottom: 100px;

    &__title {       
            font-size: 36px;
            font-weight: 500;
            font-family: $font-family-primary;
            color: rgb(255, 255, 255);
            line-height: 1.2;
            text-align: center;
            margin: 0 0 35px 0;
    }

    &__description {        
            font-size: 16px;
            font-family: $font-family-secondary;
            color: rgb(255, 255, 255);
            line-height: 1.625;
            text-align: center;
            margin: 0 0 65px 0;
    }

    &__list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
    }

    &__item {  
        outline: 1px solid red;     
        min-height: 295px;    
        
        &--big {
                grid-column: span 2;
        }
    }

    &__link {
        color: #ffffff;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        padding: 30px;
    }
}