.contacts {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;

  .btn {
    padding: 25px 82px;
  }
}

.info {
  max-width: 360px;
}

.form {
  flex: 0 0 530px;
}

.title {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  margin: 0 0 40px 0;
}

.input {
  margin-bottom: 30px;
}

.textarea {
  margin-bottom: 40px;
}

