extends ../base/layout

block data

block variables
  - var title = "Навигационная страница"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = false
  - var footerMod = ""
  - var currentPage = "main"

block main
  main
    .container
      .intro 
        h1.intro__title Кирилл Моргунов
        p.intro__description Веб-разработчик
        button.btn.intro__btn Скачать резюме
      h2
        a(href="honey/honey.html") Honey - мёд на любой вкус!(без адаптива - 2 страницы)
      h2
        a(href="escaperoom/escaperoom.html") Escaperoom - страница квестов в реальности(адаптив мобильная, планшетная, десктопная версии - несколько страниц)
