extends ../base/layout

block data

block variables
  - var title = "Навигационная страница"
  - var wrapperMod = ""
  - var hasHeader = false
  - var headerMod = ""
  - var hasFooter = false
  - var footerMod = ""
  - var currentPage = ""

block main
  main
    h2    
      a(href="honey.html") Honey - мёд на любой вкус!(без адаптива - 2 страницы)
    h2 
      a(href="escaperoom.html") Escaperoom - страница квестов в реальности(адаптив мобильная, планшетная, десктопная версии - несколько страниц)