.bio {
  padding-top: 126px;
  padding-bottom: 222px;
  display: flex;
  justify-content: space-between;

  .socials {
    position: absolute;
    bottom: -36px;
    left: 0;
    right: 0;
    box-shadow: 0 12px 64px #1C1919;
    background-color: var(--color-light-100);
    border-radius: 5px;
    padding: 12px;
  }
}

.info {
  max-width: 648px;
}

.title {
  font-size: var(--font-size-xxxl);
  margin: 0 0 24px 0;
}

.btn {
  text-decoration: none;
  background-color: var(--color-dark-900);
  border-radius: 5px;
  padding: 12px 24px;
  color: var(--color-light-100);
  transition: opacity 0.3s ease;
}

.btn:hover,
.btn:focus {
  opacity: 0.7;
  outline: none;
}

.description {
  color: var(--color-dark-300);
  margin: 0 0 24px 0;
}

.photoBlock {
  position: relative;
}

.photo {
  object-fit: cover;
  border-radius: 15px;
}

.features {
  margin-top: 142px;
  display: flex;
  gap: 4px;
}

.feature {
  display: grid;
  gap: 8px;
  padding: 17px;
  text-align: center;
  background-color: var(--color-light-100);
  width: calc(33% - 2px);
}

.featureTitle {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  color: var(--color-dark-100);
}

.featureValue {
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-bold);
}

