.bio {
  padding-top: 60px;
  padding-bottom: 100px;

  .socials {
    position: absolute;
    bottom: -36px;
    left: 0;
    right: 0;
    box-shadow: 0 12px 64px rgba(#1C1919, 0.8);
    background-color: var(--color-light-100);
    border-radius: 5px;
    padding: 12px;
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-top: 126px;
    padding-bottom: 222px;
  }
}

.info {
  @media (min-width: 768px) {
    max-width: 648px;
  }
}

.title {
  font-size: var(--font-size-xl);
  line-height: 1.2;
  margin: 0 0 12px 0;

  @media (min-width: 768px) {
    font-size: var(--font-size-xxxl);
    margin: 0 0 24px 0;
  }
}

.btn {
  text-decoration: none;
  background-color: var(--color-dark-900);
  border-radius: 5px;
  padding: 12px 24px;
  color: var(--color-light-100);
  transition: opacity 0.3s ease;
}

.btn:hover,
.btn:focus {
  opacity: 0.7;
  outline: none;
}

.description {
  color: var(--color-dark-300);
  margin: 0 0 24px 0;
}

.photoBlock {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  @media (min-width: 768px) {
    width: auto;
    flex: 0 0 400px;
    height: 400px;
    margin: 0 0 0 30px;
  }
  @media (min-width: 1076px) {
    width: unset;
    flex: unset;
    height: unset;
  }
}

.photo {
  object-fit: cover;
  border-radius: 15px;
  max-width: 100%;
  height: 100%;
  @media (min-width: 1076px) {
    max-width: initial;
    height: unset;
  }
}

.features {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  gap: 4px;

  @media (min-width: 768px) {
    margin-top: 142px;
    margin-bottom: 0;
  }
}

.feature {
  display: grid;
  gap: 8px;
  padding: 17px;
  text-align: center;
  background-color: var(--color-light-100);

  @media (min-width: 1076px) {
    width: calc(33% - 2px);
  }
}

.featureTitle {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  color: var(--color-dark-100);
}

.featureValue {
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-bold);
}

