include ../../base/mixins

block data
block variables

block variables
  - var title = "Denim - каталог"
  - var wrapperMod = ""
  - var hasHeader = false
  - var headerMod = ""
  - var hasFooter = false
  - var footerMod = ""
  - var currentPage = ""

doctype html
html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Denim - clothes")
    link(rel="stylesheet", href="../css/style4.min.css")

  body
    div(style="display:none")
      include ../../../../build/img4/sprite_auto.svg
    header.header.container
      button.header__menu-toggle(type="button")
        +icon("icon-menu", 20, 10)
      ul.header-navigation.header-navigation--site
        li.header-navigation__item
          a.header-navigation__link(href="#") Woman
        li.header-navigation__item
          a.header-navigation__link(href="#") Man
        li.header-navigation__item
          a.header-navigation__link(href="#") New
      h2.header__title
        a(href="index.html") Nîmes
      ul.header-navigation.header-navigation--user
         li.header-navigation__item
          a.header-navigation__link(href="#" aria-label="искать по сайту")
            +icon("icon-magnifier", 20, 20)
         li.header-navigation__item
          a.header-navigation__link(href="#" aria-label="корзина покупок")
            +icon("icon-cart", 22, 20)
    main
      section.intro.intro--catalog
          .container
            .intro__intro
              p.intro__text.anim-items.anim-no-hide
                  a.intro__back-link.intro__back-link--all(href="#")  All categories
                  span /
                  a.intro__back-link(href="#")  Woman
                  span /
                  a.intro__back-link  Jackets
              h1.intro__title.anim-items.anim-no-hide Denim Collection Fall 2019
            .intro__img.anim-items.anim-no-hide
              img(src="../img4/catalogintro.jpg" width="299" height="260" alt="фотография джинс с надписью 'We see what we want'")
      section.filter
        .container
          .filter__filter
            a.filter__toggle.js__toggle(href="#")
              span Filter by
              +icon("icon-arrowsmall", 25, 25)
            .filter__popup
              .filter__type.filter__type--price.accordion
                a.filter__toggle.accordion__btn(href="#")
                  span Price
                  +icon("icon-arrowsmall", 25, 25)
                .filter__content.accordion__content
                  .filter__container
                    .range-slider(data-type="price" data-min="10" data-max="300" data-unit="$" data-left-handle="10" data-right-handle="300" data-step="10")
                      .range-slider__wrapper
                        .range-slider__slider
                      input.range-slider__input.range-slider__input--from(type="text" tabindex="-1" name="price-from")
                      input.range-slider__input.range-slider__input--to(type="text" tabindex="-1" name="price-to")
                      .range-slider__output.range-slider__output--lower
                        span.range-slider__value
                        span.range-slider__unit
                      .range-slider__output.range-slider__output--upper
                        span.range-slider__value
                        span.range-slider__unit
              .filter__type.accordion
                a.filter__toggle.accordion__btn(href="#")
                  span Color
                  +icon("icon-arrowsmall", 25, 25)
                .filter__content.accordion__content
                  fieldset.details__color
                    input(type="radio" name="color" value="lightgray" id="lightgray")
                    label(for="lightgray")
                    input(type="radio" name="color" value="blue" id="blue")
                    label(for="blue")
                    input(type="radio" name="color" value="gray" id="gray")
                    label(for="gray")
                    input(type="radio" name="color" value="black" id="black")
                    label(for="black")
                    input(type="radio" name="color" value="ashy" id="ashy")
                    label(for="ashy")
                    input(type="radio" name="color" value="lightblue" id="lightblue")
                    label(for="lightblue")
              .filter__type.accordion
                a.filter__toggle.accordion__btn(href="#")
                  span Collection
                  +icon("icon-arrowsmall", 25, 25)
                .filter__content.accordion__content
                  fieldset.details__size
                    input(type="radio" name="style" value="casual" id="Casual")
                    label(for="Casual") Casual
                    input(type="radio" name="style" value="petite" id="Petite")
                    label(for="Petite") Petite
                    input(type="radio" name="style" value="classic" id="Classic")
                    label(for="Classic") Classic
                    input(type="radio" name="style" value="soulluxe" id="Soulluxe")
                    label(for="Soulluxe") Soulluxe
              button.filter__apply-btn.btn(type="button") Apply (9 products)
              button.filter__clear-btn.btn(type="button") Clear all
      section.catalog.container
        ul.catalog__list
          li.catalog__item(data-type="casual" data-color="lightblue")
            a.card(href="product.html")
              .card__img
                img(src="../img4/Jacket3.jpg" width="243" height="270" alt="фотография девушки в одежде бренда")
              h3.card__heading Jacket
              p.card__price $ 40
          li.catalog__item(data-type="classic" data-color="gray")
            a.card(href="product.html")
              .card__img
                img(src="../img4/Jacket4.jpg" width="243" height="270" alt="фотография девушки в одежде бренда")
              h3.card__heading Jacket
              p.card__price $ 60
          li.catalog__item(data-type="classic" data-color="lightgray")
            a.card(href="product.html")
              .card__img
                img(src="../img4/Jacket5.jpg" width="243" height="270" alt="фотография девушки в одежде бренда")
              h3.card__heading Jacket
              p.card__price $ 80
          li.catalog__item(data-type="soulluxe" data-color="lightgray")
            a.card(href="product.html")
              .card__img
                img(src="../img4/Jacket6.jpg" width="243" height="270" alt="фотография девушки в одежде бренда")
              h3.card__heading Jacket
              p.card__price $ 220
          li.catalog__item(data-type="casual" data-color="lightblue")
            a.card(href="product.html")
              .card__img
                img(src="../img4/Jacket7.jpg" width="243" height="270" alt="фотография девушки в одежде бренда")
              h3.card__heading Jacket
              p.card__price $ 120
          li.catalog__item(data-type="Petite" data-color="ashy")
            a.card(href="product.html")
              .card__img
                img(src="../img4/Jacket8.jpg" width="243" height="270" alt="фотография девушки в одежде бренда")
              h3.card__heading Jacket
              p.card__price $ 140
          li.catalog__item.catalog__item--big(data-type="soulluxe" data-color="blue")
            a.card(href="product.html")
              .card__img
                img(src="../img4/Jacketbig1.jpg" width="552" height="670" alt="фотография девушки в одежде бренда")
              h3.card__heading Jacket
              p.card__price $ 300
          li.catalog__item(data-type="classic" data-color="blue")
            a.card(href="product.html")
              .card__img
                img(src="../img4/Jacket9.jpg" width="243" height="270" alt="фотография девушки в одежде бренда")
              h3.card__heading Jacket
              p.card__price $ 250
          li.catalog__item(data-type="classic" data-color="ashy")
            a.card(href="product.html")
              .card__img
                img(src="../img4/Jacket10.jpg" width="243" height="270" alt="фотография девушки в одежде бренда")
              h3.card__heading Jacket
              p.card__price $ 100
        .catalog__more
          .catalog__pagination  Showing 9 of 45 items
          button.catalog__btn.btn Load more

    footer.footer
      .container
        h2.footer__title
          span Nîmes
        ul.site-navigation
          li.site-navigation__item.site-navigation__item--title
            a.site-navigation__link(href="index.html") Nîmes
          li.site-navigation__item
            a.site-navigation__link(href="#") Shop
          li.site-navigation__item
            a.site-navigation__link(href="#") Delivery
          li.site-navigation__item
            a.site-navigation__link(href="#") Service
          li.site-navigation__item
            a.site-navigation__link(href="#") Sitemap
          li.site-navigation__item
            a.site-navigation__link(href="#") Contacts
        ul.socials
          li.socials__item
            a.socials__link(href="#" aria-label="ссылка на facebook")
              +icon("icon-facebook", 12, 20)
          li.socials__item
            a.socials__link(href="#" aria-label="ссылка на instagram")
              +icon("icon-instagram", 20, 20)
          li.socials__item
            a.socials__link(href="#" aria-label="ссылка на parler")
              +icon("icon-parler", 21, 21)
          li.socials__item
            a.socials__link(href="#" aria-label="ссылка на twitter")
              +icon("icon-twitter", 22, 18)

    block modals

    script(src="../js/vendor.min.js")
    script(src="../js/denim.min.js")
