include ../../base/mixins
block data
block variables

block variables
  - var title = "Denim - главная"
  - var wrapperMod = ""
  - var hasHeader = false
  - var headerMod = ""
  - var hasFooter = false
  - var footerMod = ""
  - var currentPage = ""

doctype html
html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Denim - clothes")
    link(rel="stylesheet", href="../css/style4.min.css")

  body
    a.return-btn(href="../index.html#projects" aria-label="Вернуться на навигационную страницу")
      +icon('icon-home', 32, 32)
    div(style="display:none")
      include ../../../../build/img4/sprite_auto.svg
    header.header.container
      h2.header__title
        span Nîmes
    main
      section.intro
        .container
          nav.intro__navigation
            ul.intro__list
              li.intro__item
                a.intro__link(href="#") Woman
              li.intro__item
                a.intro__link(href="#") Man
              li.intro__item
                a.intro__link(href="#") New
            ul.intro__list.intro__list--cart
              li.intro__item
                a.intro__link(href="#" aria-label="корзина покупок")
                  +icon("icon-cart", 22, 20)
              li.intro__item
                a.intro__link(href="#" aria-label="искать по сайту")
                  +icon("icon-magnifier", 20, 20)
          .intro__main
            .intro__intro
              p.intro__text.anim-items.anim-no-hide The quality you deserve
              h1.intro__title.anim-items.anim-no-hide DENIM
              a.btn.intro__btn.anim-items.anim-no-hide(href="catalog.html") Check new collection
            .intro__img.anim-items.anim-no-hide
              img(src="../img4/intro.jpg" width="430" height="517" alt="фотография девушки в одежде бренда")
          nav.intro__navigation
            ul.intro__list
              li.intro__item
                a.intro__link(href="#")
                  +icon("icon-arrowdown", 12, 29)
            ul.intro__list
              li.intro__item
                a.intro__link(href="#") Facebook
              li.intro__item
                a.intro__link(href="#") Instagram
      section.bestsellers.container
        .bestsellers__header
          h2.bestsellers__title Bestsellers
          a.bestsellers__all(href="#") View all
        ul.bestsellers__list
          li.bestsellers__item.anim-items.fadeInLeftBig
            a.card(href="#")
              .card__img
                img(src="../img4/jacket.jpg" width="270" height="349" alt="фотография девушки в одежде бренда")
              h3.card__heading Jacket
              p.card__price $ 120
          li.bestsellers__item.anim-items.fadeInLeftBig
            a.card(href="#")
              .card__img
                img(src="../img4/overalls.jpg" width="270" height="349" alt="фотография девушки в одежде бренда")
              h3.card__heading Overalls
              p.card__price $ 120
          li.bestsellers__item.anim-items.fadeInRightBig
            a.card(href="#")
              .card__img
                img(src="../img4/jacket2.jpg" width="270" height="349" alt="фотография девушки в одежде бренда")
              h3.card__heading Jacket
              p.card__price $ 120
          li.bestsellers__item.anim-items.fadeInRightBig
            a.card(href="#")
              .card__img
                img(src="../img4/overalls2.jpg" width="270" height="349" alt="фотография девушки в одежде бренда")
              h3.card__heading Overalls
              p.card__price $ 120
        a.bestsellers__all(href="#") View all
      section.fall.container.anim-items.fadeInTopBig
        .fall__image
           img(src="../img4/fall2019.jpg" width="700" height="370" alt="фотография девушки и пярня в одежде бренда")
        .fall__container
          .fall__info
            p.fall__description Street fashion collection
            h2.fall__title Fall 2019
            a.btn.fall__btn(href="catalog.html") Shop now
      section.categories.container
        .categories__header
          h2.categories__title Shop by category
          a.categories__all(href="#") View all
        ul.categories__list
          li.categories__item.anim-items.fadeInLeftBig
            a.card(href="#")
              .card__img
                img(src="../img4/jeans.jpg" width="270" height="349" alt="фотография девушки в одежде бренда")
              h3.card__heading Jacket
          li.categories__item.anim-items.fadeInLeftBig
            a.card(href="#")
              .card__img
                img(src="../img4/shirts.jpg" width="270" height="290" alt="фотография девушки в одежде бренда")
              h3.card__heading Shirts
          li.categories__item.categories__item--big.anim-items.fadeInRightBig
            a.card(href="#")
              .card__img
                img(src="../img4/jackets.jpg" width="270" height="349" alt="фотография девушки в одежде бренда")
              h3.card__heading Jackets
          li.categories__item.categories__item--small.anim-items.fadeInRightBig
            a.card(href="#")
              .card__img
                img(src="../img4/overalls3.jpg" width="270" height="290" alt="фотография девушки в одежде бренда")
              h3.card__heading Overalls
        a.categories__all(href="#") View all
    footer.footer
      .container
        h2.footer__title
          span Nîmes
        ul.site-navigation
          li.site-navigation__item.site-navigation__item--title
            a.site-navigation__link Nîmes
          li.site-navigation__item
            a.site-navigation__link(href="#") Shop
          li.site-navigation__item
            a.site-navigation__link(href="#") Delivery
          li.site-navigation__item
            a.site-navigation__link(href="#") Service
          li.site-navigation__item
            a.site-navigation__link(href="#") Sitemap
          li.site-navigation__item
            a.site-navigation__link(href="#") Contacts
        ul.socials
          li.socials__item
            a.socials__link(href="#" aria-label="ссылка на facebook")
              +icon("icon-facebook", 12, 20)
          li.socials__item
            a.socials__link(href="#" aria-label="ссылка на instagram")
              +icon("icon-instagram", 20, 20)
          li.socials__item
            a.socials__link(href="#" aria-label="ссылка на parler")
              +icon("icon-parler", 21, 21)
          li.socials__item
            a.socials__link(href="#" aria-label="ссылка на twitter")
              +icon("icon-twitter", 22, 18)

    block modals

    script(src="../js/vendor.min.js")
    script(src="../js/denim.min.js")
