include ../../base/mixins

block data

block variables
  - var title = "Honey — Главная"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "main" 

doctype html
html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Мёд - оптом и в розницу")

    link(rel="apple-touch-icon" sizes="180x180" href="img1/favicon1/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="img1/favicon1/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="img1/favicon1/favicon-16x16.png")
    link(rel="mask-icon" href="img1/favicon1/safari-pinned-tab.svg" color="#ffcf55")
    meta(name="msapplication-TileColor" content="#ffcf55")
    meta(name="theme-color" content="#ffffff")

    link(rel="stylesheet", href="../css/style1.min.css")

  body
    div(style="display:none")
      include ../../../../build/img1/sprite_auto.svg
    header.page-header
      .page-header__logo  
      nav.main-navigation
        ul.main-navigation__list
          li.main-navigation__item
              a.main-navigation__link(href="honey.html") Главная
          li.main-navigation__item
            a.main-navigation__link(href="honey-catalog.html")
              span Каталог
            ul.main-navigation__submenu
              li Новинки
              li
                a(href="#") Сливочное
              li
                a(href="#") Щербеты
              li
                a(href="#") Фруктовый лед
              li
                a(href="#") Мелорин
          li.main-navigation__item
            a.main-navigation__link(href="honey-delivery.html")
              span Доставка и оплата
          li.main-navigation__item
            a.main-navigation__link(href="honey-about.html")
              span О Компании
      nav.user-navigation
        ul.user-navigation__list
          li.user-navigation__item
            a.user-navigation__link.user-navigation__link--search(href="#")
              +icon("icon-search", 17, 17)
            .user-navigation__sub-search
              input(type="text" placeholder="Липовый")

    block main
      main
        h1.visually-hidden Honey - мёд на любой вкус!
        section.schedule
          h2.visually-hidden Расписание работы и контактный телефон
          .schedule__container
            span.schedule__time Принимаем звонки с 10 до 20, ежедневно
            span.schedule__phone +7 000 000 000
        section.intro
          .intro__main-image.intro__main-image--banki
            img(src="../img1/typeBanki.png" alt="мед в банках" width="386" height="392")
          .intro__main-image.intro__main-image--soty
            img(src="../img1/typeSoty.png" alt="мед в сотах" width="900" height="740")
          .intro__main-image.intro__main-image--rozliv
            img(src="../img1/typeRozliv.png" alt="мед на розлив" width="840" height="859")
          h2.intro__heading Мед в сотах
          a.button(href="#") Хочу все!
          .themes
            span.themes__dot.themes__dot--active.jsDot1
            span.themes__dot.jsDot2
            span.themes__dot.jsDot3
        section.features
          article.features__item.features__item--raspberry
            h2.features__heading Малинка даром!
            p.features__description При покупке 2 кг любого меда, добавим в ваш заказ банку малинового варенья бесплатно.
            a.button.features__link(href="#") Подробнее
          article.features__item.features__item--chocolate
            h2.features__heading Шоколадки даром!
            p.features__description При покупке 2 кг меда, добавим в ваш заказ упаковку вкуснейшей шоколадной присыпки совершенно бесплатно.
            a.button.features__link(href="#") Подробнее
        section.content
          ul.content__list
            li.content__item.content__item--hit
              .content__image
                img(src="../img1/soty2.jpg" width="1039" height="763" alt="мед в сотах")
              p.content__info
                span.content__price 310 ₽
                span.content__price-measure /кг
                h3.content__heading Мед в сотах Краснодарский
                a.button(href="#") Быстрый просмотр
            li.content__item.content__item--hit
              .content__image
                img(src="../img1/soty.jpg" width="540" height="520" alt="мед в сотах")
              p.content__info
                span.content__price 380 ₽
                span.content__price-measure /кг
              h3.content__heading Мед в сотах Ростовский
              a.button(href="#") Быстрый просмотр
            li.content__item.content__item--hit
              .content__image
                img(src="../img1/vosk.jpg"  width="1000" height="1000" alt="воск")
              p.content__info
                span.content__price 355 ₽
                span.content__price-measure /кг
              h3.content__heading Воск
              a.button(href="#") Быстрый просмотр
            li.content__item.content__item--hit
              .content__image
                img(src="../img1/s_propolisom.png"  width="370" height="270" alt="Мед с прополисом")
              p.content__info
                span.content__price 415 ₽
                span.content__price-measure /кг
              h3.content__heading Мед с прополисом
              a.button(href="#") Быстрый просмотр
        section.about
          h2.about__heading Магазин "МЁД" — это онлайн- и офлайн-магазин по продаже мёда собственного производства на развес и в упаковке
          ul.about__list
            li.about__item
              p.about__description.about__description--icecream
              strong Качество:
              |  Мы имеем собственную лабораторию - при несоответствии состава меда или другого товара заявленным данным, результаты наших анализов являются приоритетными. Мы предлагаем в продаже только эколгически чистый мед;
            li.about__item
              p.about__description.about__description--icecream
              strong Ассортимент:
              |  Мы принимаем на реализацию мед со всех уголков страны. Ни одна региональная ярмарка не может предоставить продукцию в таком многообразии;
            li.about__item
              p.about__description.about__description--icecream
              strong Всегда в наличии:
              |  редкие сорта: дягилевый, каштановый, таежный, кипрейный, лавандовый, мед джантак и дикий;
            li.about__item
              p.about__description.about__description--icecream
              strong Цена:
              |  благодаря собственной пасеке и многолетнему сотрудничеству с пчеловодами мы предлагаем высококачественный мед по низкой цене!
        section.news
          h2.visually-hidden Новости
          article.news__item.news__item--news
            h3.news__heading Новое в нашем блоге
            a.news__link(href="#") Кленовый сахар
            p.news__link-description Из чего делают кленовый сахар, Состав кленового сахара, Где и как используют кленовый сахар
          article.news__item.news__item--subscription
            p.news__description Подпишитесь на нашу сладкую рассылку и будете всегда в курсе всего самого вкусного, что у нас происходит.
            form.news__form(action="#" method="post")
              input(type="email" placeholder="email@example.com")
              button.button(type="submit") Отправить
    script(src="../js/vendor.min.js")
    script(src="../js/honey.min.js")
