extends ../../base/layout

block data
  include ../../data/catalog-data

block variables
  - var title = "Honey — Каталог"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
    section.content
      ul.content__list
        each item in catalogItems
          li.content__item
            img(src="../img/" + "/" + item.img.src + "." + item.img.ext, width= item.img.width, height= item.img.height, alt= item.img.alt)
            p.content__info
              span.content__price= item.price
              | ₽
              span.content__price-measure /кг
              h3.content__heading= item.name
              a.button(href="#") Быстрый просмотр
