.main {
  padding-top: 84px;
  background: linear-gradient(99deg, rgba(42, 163, 79, 0.2) 0%, rgba(46, 149, 119, 0.2) 32%, rgba(108, 109, 190, 0.2) 66%, rgba(169, 121, 195, 0.2) 100%);
}

.container {
  display: flex;
  justify-content: center;
}