@font-face {
  font-family: "Anton";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
  url("../fonts/anton.woff2") format("woff2"),
  url("../fonts/anton.woff") format("woff");
}


@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
  url("../fonts/work-sans-regular.woff2") format("woff2"),
  url("../fonts/work-sans-regular.woff") format("woff");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
  url("../fonts/work-sans-500.woff2") format("woff2"),
  url("../fonts/work-sans-500.woff") format("woff");
}


@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
  url("../fonts/work-sans-700.woff2") format("woff2"),
  url("../fonts/work-sans-700.woff") format("woff");
}


@font-face {
  font-family: "Playfair-display";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
  url("../fonts/work-sans-800.woff2") format("woff2"),
  url("../fonts/work-sans-800.woff") format("woff");
}


