$mobile-width: 767px;
$tablet-width: 1023px;
$font-family-primary: "Work Sans", "Arial", sans-serif;
$font-family-secondary: "Anton", "Arial", sans-serif;
$default-transition-settings: 0.3s ease;
$modern-transition-settings: 0.5s ease;
$color-transparent: transparent;
