mixin header(headerMod, currentPage)
  header.header
    .container
      ul.header__list
        li.header__item 
          a.header__link(href="#") Home 
        li.header__item 
          a.header__link(href="#") Обо мне 
        li.header__item 
          a.header__link(href="#") Проекты    
        li.header__item 
          a.header__link(href="#") Мой стек    
        li.header__item 
          a.header__link(href="#") Контакты
      