mixin header(headerMod, currentPage)
  header.header
    .container
      ul.header__list      
        li.header__item 
          a.header__link(href="#stack") Мой стек  
        li.header__item 
          a.header__link(href="#projects") Проекты   
        li.header__item 
          a.header__link(href="#contacts") Контакты
      