-
    var catalogItems = [
      {
        img: {src: "akaciya", ext: "png", width: 370, height: 270, alt: "Акациевый мёд"},
        name: "Акациевый мёд",
        price: 310,
      },
      {
        img: {src: "chernoklen", ext: "png", width: 370, height: 270, alt: "Черноклёновый мёд"},
        name: "Черноклёновый мёд",
        price: 380,
      },
       {
        img: {src: "don", ext: "png", width: 370, height: 270, alt: "Донской мёд"},
        name: "Донской мёд",
        price: 299,
      },
       {
        img: {src: "esparcetovij", ext: "png", width: 370, height: 219, alt: "Эспарцетовый мёд"},
        name: "Эспарцетовый мёд",
        price: 280,
      },
       {
        img: {src: "grech", ext: "png", width: 370, height: 270, alt: "Гречишный мёд"},
        name: "Гречишный мёд",
        price: 350,
      },
       {
        img: {src: "s_propolisom", ext: "png", width: 370, height: 270, alt: "Мёд с прополисом"},
        name: "Мёд с прополисом",
        price: 370,
      },
       {
        img: {src: "koriandrovij", ext: "png", width: 370, height: 270, alt: "Кориандровый мёд"},
        name: "Кориандровый мёд",
        price: 200,
      },
       {
        img: {src: "lipa", ext: "png", width: 370, height: 270, alt: "Липовый мёд"},
        name: "Липовый мёд",
        price: 250,
      },
       {
        img: {src: "lug", ext: "png", width: 370, height: 270, alt: "Луговой мёд"},
        name: "Луговой мёд",
        price: 360,
      },
    ]
