-
    var catalogItems = [
      {
        img: {src: "orange", ext: "png", width: 267, height: 267, alt: "Сливочное с апельсиновым джемом и цитрусовой стружкой"},
        name: "Сливочное с апельсиновым джемом и цитрусовой стружкой",
        price: 310,
      },
      {
        img: {src: "coffee", ext: "png", width: 267, height: 267, alt: "Сливочное с апельсиновым джемом и цитрусовой стружкой"},
        name: "Сливочное с апельсиновым джемом и цитрусовой стружкой",
        price: 380,
      },
       {
        img: {src: "strawberry", ext: "png", width: 267, height: 267, alt: "Сливочное с апельсиновым джемом и цитрусовой стружкой"},
        name: "Сливочное с апельсиновым джемом и цитрусовой стружкой",
        price: 299,
      },
       {
        img: {src: "cream", ext: "png", width: 267, height: 267, alt: "Сливочное с апельсиновым джемом и цитрусовой стружкой"},
        name: "Сливочное с апельсиновым джемом и цитрусовой стружкой",
        price: 280,
      },
       {
        img: {src: "cowberry", ext: "png", width: 267, height: 267, alt: "Сливочное с апельсиновым джемом и цитрусовой стружкой"},
        name: "Сливочное с апельсиновым джемом и цитрусовой стружкой",
        price: 350,
      },
       {
        img: {src: "bilberry", ext: "png", width: 267, height: 267, alt: "Сливочное с апельсиновым джемом и цитрусовой стружкой"},
        name: "Сливочное с апельсиновым джемом и цитрусовой стружкой",
        price: 370,
      },
       {
        img: {src: "lemon", ext: "png", width: 267, height: 267, alt: "Сливочное с апельсиновым джемом и цитрусовой стружкой"},
        name: "Сливочное с апельсиновым джемом и цитрусовой стружкой",
        price: 200,
      },
       {
        img: {src: "creamy-chocolate", ext: "png", width: 267, height: 267, alt: "Сливочное с апельсиновым джемом и цитрусовой стружкой"},
        name: "Сливочное с апельсиновым джемом и цитрусовой стружкой",
        price: 250,
      },
       {
        img: {src: "vanilla-chocolate", ext: "png", width: 267, height: 267, alt: "Сливочное с апельсиновым джемом и цитрусовой стружкой"},
        name: "Сливочное с апельсиновым джемом и цитрусовой стружкой",
        price: 360,
      },
    ]
