html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 74px 0 0 0;
  height: 100%;
  font-size: 17px;
  background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%) no-repeat;
  color: #ffffff;
  font-family: $font-stack;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;

  &.internal {
    height: 100vh;
  }

  &.index {
    background: url("../img2/mainBg.jpg") no-repeat;
    background-size: cover;
    height: 100vh;

    @media (max-width: $mobile-width) {
      background: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%) no-repeat, url("../img2/mainBg-mobile.jpg") no-repeat center 0;
      background-size: cover, cover;
      min-height: 640px;
    }
  }

  &.maniack {
    background: url("../img2/maniack.jpg") no-repeat;
    background-size: cover;
    height: 100vh;

    @media (max-width: $mobile-width) {
      background: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%) no-repeat, url("../img2/maniack-mobile.jpg") no-repeat center 0;
      background-color: #1a140d;
      background-size: cover, contain;
      height: 100%;
    }
  }

  &.mansion {
    background: url("../img2/mansion.jpg") no-repeat;
    background-size: cover;
    height: 100vh;

    @media (max-width: $mobile-width) {
      background: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%) no-repeat, url("../img2/mansion-mobile.jpg") no-repeat center 0;
      background-color: #1a140d;
      background-size: cover, contain;
      height: 100%;
    }
  }

  &.ritual {
    background: url("../img2/ritual.jpg") no-repeat;
    background-size: cover;
    height: 100vh;

    @media (max-width: $mobile-width) {
      background: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%) no-repeat, url("../img2/ritual-mobile.jpg") no-repeat center 0;
      background-color: #1a140d;
      background-size: cover, contain;
      height: 100%;
    }
  }

  &.experiment {
    background: url("../img2/experiment.jpg") no-repeat;
    background-size: cover;
    height: 100vh;

    @media (max-width: $mobile-width) {
      background: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%) no-repeat, url("../img2/experiment-mobile.jpg") no-repeat center 0;
      background-color: #1a140d;
      background-size: cover, contain;
      height: 100%;
    }
  }

  &.bodybook {
    background: url("../img2/orderBg.jpg") no-repeat;
    background-size: cover;
    height: 100vh;

    @media (max-width: $mobile-width) {
      background: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%),
        url("../img2/orderBg-mobile.png") no-repeat center 0;
      background-color: #1a140d;
      background-size: cover, cover;
      height: 100%;
    }
  }

  &.allquests {
    .page-header {
      background: #1f1d1d;

      &--opened {
        background-color: transparent;
      }
    }
  }

  &.bodynavigation {
    background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%) no-repeat;
    background-size: cover;
    height: 100vh;
  }
}

.return-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ff7931;
  border-radius: 50%;
  top: 100px;
  left: 50px;
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  line-height: 1;
  z-index: 100;
  outline: none;
  transition: background 0.3s ease, box-shadow 0.3s ease;

  svg {
    fill: #ffffff;
    stroke: #ffffff;

    transition: fill 0.3s ease, stroke 0.3s ease;
  }

  &:hover,
  &:focus {
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    svg {
      fill: #ff7931;
      stroke: #ff7931;
    }
  }
}


img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

.overflow-hidden {
  overflow: hidden;
}
