.skills {
  padding-top: 30px;
  padding-bottom: 50px;

  @media (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 100px;
  }
}

.title {
  font-size: var(--font-size-xl);
  line-height: 1.2;
  text-align: center;
  margin: 0 auto 30px auto;

  @media (min-width: 768px) {
    max-width: 663px;
    font-size: var(--font-size-xxl);
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 14px 17px;
  padding: 0;
  list-style: none;
  @media (min-width: 768px) {
    max-width: 50%;
    margin: 0 auto;
  }
}

.item {
  background-color: #251C31;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  padding: 10px;
  display: grid;
  place-items: center;

  img {
    max-width: 100%;
    width: 50%;
    height: auto;
  }
}