.btn {
    background-color: #ffffff;
    border: none;
    cursor: pointer;    
    font-size: 15px;
    line-height: 1;
    font-family: $font-family-primary;
    color: rgb(0, 0, 0);
    padding: 10px 8px;
}