html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.38;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  background-color: #849d8f;
}

.return-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ff7931;
  border-radius: 50%;
  top: 50px;
  left: 50px;
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  line-height: 1;
  z-index: 100;
  outline: none;
  transition: background 0.3s ease, box-shadow 0.3s ease;

  svg {
    fill: #ffffff;
    stroke: #ffffff;

    transition: fill 0.3s ease, stroke 0.3s ease;
  }

  &:hover,
  &:focus {
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    svg {
      fill: #ff7931;
      stroke: #ff7931;
    }
  }
}


img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  border: none;
  min-width: 100px;
  min-height: 46px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 12px 24px 11px 22px;
  cursor: pointer;  
  outline: none;

  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 28px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.button:hover, 
.button:focus {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0 2px 2px 0 #ac1000;
  // background-image: linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
}

.button:active {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
  box-shadow: inset 0 2px 2px 0 #952718;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

.title {
  font-size: 70px;
  text-align: center;
  color: #ffffff;
  margin: 150px 0 0 0;
}